body, html {
  font-family: 'Montserrat';
  margin: 0;
}

body a, html a {
  text-decoration: none;
}

header {
  padding: 2em;
}

header .logo {
  color: black;
  width: 100px;
  height: auto;
}

header .menu-btn {
  width: 18px;
  height: 18px;
  float: right;
  cursor: pointer;
}

header .linkedin {
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  padding-right: 20px;
}

header .github {
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  padding-right: 20px;
}

.wrapper {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

nav {
  position: absolute;
  background: black;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 2em;
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .close-btn {
  width: 18px;
  float: right;
  cursor: pointer;
  opacity: 0;
}

nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 80%;
}

nav ul a {
  color: white;
  font-weight: bold;
  font-size: 1.4em;
}

nav ul span {
  color: grey;
  display: block;
  font-size: .75em;
  margin-top: 20px;
}

nav ul li {
  opacity: 0;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu .5s ease-in forwards;
          animation: slide-menu .5s ease-in forwards;
}

.show-menu .close-btn {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .5s forwards .6s ease-in-out;
          animation: menu-item-anim .5s forwards .6s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .5s forwards .8s ease-in-out;
          animation: menu-item-anim .5s forwards .8s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .5s forwards 1s ease-in-out;
          animation: menu-item-anim .5s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .5s forwards 1.2s ease-in-out;
          animation: menu-item-anim .5s forwards 1.2s ease-in-out;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.aboutme {
  width: 100%;
  height: auto;
  background-color: gray;
  border-radius: 10px;
}

.aboutme__heading {
  font-size: 3em;
  font-weight: normal;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: .1px;
}

.aboutme__heading__title {
  margin: none;
}

.aboutme__heading::after {
  content: " ";
  border-top: 10px solid #3E3636;
  display: block;
}

.aboutme__heading__body {
  width: 100%;
  height: auto;
  -ms-grid-columns: 1fr 1 fr;
      grid-template-columns: 1fr 1 fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}
/*# sourceMappingURL=main.css.map */